<h1>Electrophoresis</h1><br>
<h3>SAGE Experiment 1 </h3>

<a class="label">Discussion Experiment 1</a>
The hybridization of the sequences can be observed in the previous gel, which corresponds to a SAGE. Comparing lanes 8-16 with lanes 2-7, the size (bp) of the lanes 8-16 are larger than the rest. This can occur due to the hybridization process that happens between the sequences that are complementary to others present in the solution (i.e. S1 and S1c). The results of this gel also denote that PBS was not optimal for the incubation process because the lines corresponded to a low concentration of DNA considering thickness and brightness. Finally, the incubation conditions were modified for the Experiment 2.
SAGE Experiment 2


Discussion Experiment 2
After analyzing the results form the Experiment 1, the hybridization conditions were modified. PBS was substituted with SSC buffer and formamide at different concentrations. It has been reported that this combination increases de astringency for the hybridization solution. The SAGE shows an improved resolution of the expected DNA bands which led to a better comparison with the different band sizes of the hybridized sequences with the ladder. The optimal formamide concentration was 25% with SSC 1X, for these conditions, the formation of the DNA complex was viable because the complementarity is highly favored.

EMSA Experiment 3

Discussion Experiment 3
The gel electrophoresis mobility shift assay (EMSA) was used as a detector of protein-nucleic acid complexes. In this experiment, the same incubation conditions of Experiment 2 were employed. After running the polyacrylamide gel, no bands corresponding to the Gal4-DNA complex appeared. It has been reported that, even at low concentrations, formamide can act as a protein denaturant agent producing conformational changes. These changes can derive to the elimination of recognition sites of the transcription factor for the previously designed dsDNA sequences. This experiment led to the conclusion that formamide can bring good results in terms of astringency for DNA hybridization process but can affect protein interaction negatively.
